numpy>=1.24,<3
matplotlib>=3.7,<4
openpyxl>=3.1,<4
pandas>=1.5,<2
phasepy==0.0.56
PyYAML>=6,<7
rdkit>=2024.3,<2026
scikit-learn>=1.6,<2
scipy>=1.10,<2
torch>=2.1,<3
tokenizers==0.15.2
transformers==4.36.2
safetensors>=0.4,<1
accelerate>=1,<2
pyarrow>=14,<15
tennetsac==0.1.10
thermo>=0.6,<0.7
pynndescent==0.5.13
umap-learn==0.5.6
unimol-tools>=0.1.4.post1,<0.2
